# ERP Database
KANBAN__ERP_DATABASE__HOST=127.0.0.1
KANBAN__ERP_DATABASE__POST=1433
KANBAN__ERP_DATABASE__USER=user
KANBAN__ERP_DATABASE__PASSWORD=password
KANBAN__ERP_DATABASE__NAME=TEST_KANBAN
# Main Database
KANBAN__ERP_DATABASE__HOST=127.0.0.1
KANBAN__ERP_DATABASE__POST=1434
KANBAN__ERP_DATABASE__USER=user
KANBAN__ERP_DATABASE__PASSWORD=password
KANBAN__ERP_DATABASE__NAME=Leader

